container1 {
    display: grid;
    grid-template-columns: 50px;
    grid-gap: 5px 10px;
    background-color: white;
    padding: 10px 10px;
    margin-left: 10px;
}
  
.grid-container > div {
    
    border: 3px solid blue;
    text-align: bottom;
    font-size: 30px;
    margin:0px;
}

table, td, th {
    border: 1px solid black;
  }
  
table {
    position: relative;
   
    border-collapse: collapse;
    width: 60%;
  }
  
th {
    height: 5px;
    text-align: center;
  }

td {
    margin: 0px;
    
}

input {
    margin-bottom: 0px;
}
button {
    text-align: center;
    height:50px;
    width:80px;
    
}